.portfolio {
  margin: 0 2%;
}
.dice > img {
  height: 50px;
  width: 50px;
  animation: var(--spinSlowly);
  margin-bottom: 40px;
}
.projects > .project:first-child,
.projects > .project:nth-child(2) {
  margin-top: -50px;
}
.portfolio > .flex > a {
  width: 25%;
  color: var(--white);
}
@media screen and (max-width: 840px) {
  /* .projects > * {
    margin: 30px 0;
  } */
  .projects > *,
  .projects > .project:first-child,
  .projects > .project:nth-child(2) {
    margin: 30px 0;
  }
  .portfolio > .flex > a {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .large-heading {
    font-size: 4rem;
  }
}
