.cube {
  background-color: var(--white);
  height: 40px;
  width: 40px;
  padding: 10px 15px;
}
.cube:hover {
  background-color: var(--orange);
  transition: background-color 300ms ease-in-out;
}
.cube img {
  height: 10px;
  width: 10px;
}
.arrow-one {
  transform: rotate(90deg);
}
.arrow-two {
  transform: rotate(270deg);
}
.slides {
  margin: 0 2%;
  position: relative;
  overflow: hidden;
}
.img-slide {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
  height: 100%;
  object-fit: cover;
}
.cube-one {
  position: absolute;
  top: 45%;
  left: 2%;
}
.cube-two {
  position: absolute;
  top: 45%;
  right: 2%;
}
.content {
  width: 75%;
  padding: 3% 10%;
  height: 100%;
  background-color: rgba(5, 20, 34, 0.9);
}
.slide-sub {
  font-size: 1.5rem;
}
.slide-title {
  font-size: 4rem;
}
.slide-description {
  margin-top: 25px;
}
.white-banner {
  margin: 0 2%;
  background-color: var(--white);
  color: var(--black);
  padding: 3% 2%;
  position: relative;
  height: 60vh;
}
.banner-center {
  position: absolute;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.cooperation {
  width: 30%;
  font-size: 13px;
  position: absolute;
  top: 50%;
  right: -40%;
}
.satisfied {
  position: absolute;
  width: 7%;
  top: 12%;
  font-size: 13px;
}
.my-projects {
  position: absolute;
  top: 60%;
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  font-weight: 500;
}
.number {
  font-size: 120px;
}
.describe {
  font-size: 1.5rem;
  width: 70%;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 1.2;
}
.my-portfolio-services {
  margin: 0 2%;
  padding: 7% 0;
  position: relative;
}
.projects-icon {
  padding: 10px;
  width: max-content;
  border-radius: 50%;
  background-color: #233140;
  position: relative;
  height: 60px;
  width: 60px;
}
.projects-icon > img {
  width: 20px;
  height: 20px;
}
.my-portfolio {
  font-size: 4rem;
  margin: 40px 0;
}
.people-looking-at-computer {
  position: absolute;
  width: 50%;
  height: 330px;
  object-fit: cover;
  right: 0;
  top: -30px;
}
.my-portfolio-services .flex-v {
  width: 30%;
  padding-bottom: 40px;
  border-bottom: 2px solid #213242;
}
.service-number {
  font-size: 28px;
  font-weight: 400;
}
.service-title {
  font-weight: 500;
  font-size: 28px;
  margin: 40px 0 30px 0;
}
.my-portfolio-services .bluish {
  font-size: 15px;
  line-height: 1.4;
  width: 80%;
}
.my-portfolio-services .flex-v:nth-child(2) {
  border-bottom: 2px solid var(--orange);
}
.i-create-gold {
  margin: 0 2%;
  background-color: var(--white);
  color: var(--black);
  padding: 3% 2%;
}
.i-create-gold > img {
  object-fit: cover;
  width: 40%;
}
.i-create-gold > div {
  padding: 1% 7%;
}
.i-create-gold h2 {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: -0.05em;
}
.i-create-gold h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 20px 0;
  width: 90%;
}
.img-container {
  background-color: var(--orange);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.img-container img {
  width: 90%;
  height: 90%;
}
.i-create-gold .greyish {
  font-size: 15px;
  font-weight: 300;
}
.img-container ~ p {
  font-size: 28px;
  font-weight: 500;
}
.i-create-gold .flex {
  margin-bottom: 20px;
}
.content a {
  color: var(--white);
}
.i-create-gold > div > a {
  color: var(--black);
}
@media screen and (max-width: 840px) {
  .my-projects {
    position: static;
  }
  .satisfied {
    position: static;
    width: auto;
  }
  .content {
    width: 100%;
    padding: 5% 7%;
  }
  .banner-center {
    width: 100%;
    padding-left: 0;
    position: static;
    transform: unset;
  }
  .describe {
    width: unset;
    font-size: 14px;
  }
  .cooperation {
    position: static;
    width: unset;
    margin-top: 20px;
  }
  .white-banner {
    height: auto;
    padding: 40px 20px;
  }
  .number {
    font-size: 72px;
    margin-bottom: 30px;
  }
  .my-portfolio {
    font-size: 48px;
  }
  .people-looking-at-computer {
    position: static;
    width: 100%;
    height: 245px;
    margin-bottom: 50px;
  }
  .i-create-gold {
    flex-direction: column;
  }
  .i-create-gold > img {
    width: 100%;
    height: 300px;
    margin: 20px 0;
  }
  .i-create-gold > div {
    padding: 2%;
  }
  .i-create-gold h3 {
    margin: 30px 0;
  }
  .i-create-gold .greyish {
    width: 50%;
  }
  .i-create-gold h2 {
    font-size: 48px;
  }
}
@media screen and (max-width: 650px) {
  .i-create-gold .greyish {
    width: 80%;
  }
  .my-portfolio-services .flex {
    flex-direction: column;
  }
  .my-portfolio-services .flex-v {
    width: 97%;
    margin: 30px 0;
  }
  .slide-title {
    font-size: 28px;
    margin-top: 20px;
  }
  .white-banner {
    height: auto;
    display: block;
  }
  .content > .link {
    width: 90%;
  }
  .number {
    margin: 10px 0;
  }
  .cube {
    display: none;
  }
}
