.project {
  width: 48.5%;
  color: var(--black);
  border-bottom: 2px solid var(--orange);
  margin-bottom: 50px;
  padding-bottom: 40px;
}
.project-image-container {
  width: 100%;
  height: 320px;
  overflow: hidden;
  position: relative;
}
.project-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.project-languages {
  pointer-events: none;
}
.project-languages > img {
  height: 32px;
  height: 32px;
  opacity: 0;
  margin: 0px 7px;
}
.project-image:hover {
  transform: scale(1.1);
  filter: brightness(35%);
  transition: brightness, transform, 0.4s ease;
}
.project-image:not(:hover) {
  transform: scale(1);
  filter: brightness(100%);
  transition: brightness, transform, 0.4s ease;
}
.project-image-container:hover > .project-languages > img {
  opacity: 1;
  transition: opacity 0.8s ease;
}
.category {
  background-color: var(--orange);
  width: max-content;
  color: var(--white);
  font-size: 14px;
  padding: 10px;
  margin: 20px 0;
}
.project-stuff {
  padding: 0 6%;
}
.project-title {
  font-size: 40px;
  color: var(--black);
}
.project-title:hover {
  color: var(--orange);
  transition: color var(--delay) linear;
}
.project-description {
  font-size: 15px;
  margin-top: 10px;
}
.live-link {
  color: var(--white);
  background-color: var(--orange);
  height: min-content;
  padding: 3px;
  border-radius: 2px;
  margin: 0 5px;
  font-size: 12px;
}
.api-link,
.github-link,
.figma-link {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 0 5px;
}
.api-link {
  animation: var(--spinSlowly);
}

@media screen and (max-width: 840px) {
  .project {
    width: 100%;
    margin: 50px 0;
  }
}
