.portfolio {
  margin: 0 2%;
}
.dice > img {
  height: 50px;
  width: 50px;
  animation: var(--spinSlowly);
  margin-bottom: 40px;
}
.projects {
  background-color: var(--white);
  width: 100%;
  flex-wrap: wrap;
  padding: 0 2%;
  margin-top: 100px;
}
.projects > .project:first-child,
.projects > .project:nth-child(2) {
  margin-top: -70px;
}
.portfolio .link {
  width: 100%;
}
.portfolio > .flex > a {
  width: 20%;
  color: var(--white);
}
@media screen and (max-width: 840px) {
  .projects > .project:first-child,
  .projects > .project:nth-child(2) {
    margin: 50px 0;
  }
  .portfolio > .flex > a {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .large-heading {
    font-size: 4rem;
  }
}
