.about-me {
  margin: 0 2%;
}
.about-me h1 {
  font-size: 5rem;
}
.about-me-top {
  align-items: flex-end;
  margin-top: 20px;
}
.about-me-top > .link {
  width: 20%;
}
.my-picture {
  margin-top: 60px;
}
.me {
  height: 550px;
  margin-right: 10%;
}
.my-description {
  margin: 40px 0;
}
.my-description h3 {
  font-size: 1.5rem;
}
.my-description > div {
  width: 75%;
  line-height: 1.2;
  font-size: 1.2rem;
}
.bs-about-me {
  width: 70%;
}
.my-description div p {
  margin-bottom: 10px;
}
.my-description > div > p {
  font-size: 13px;
}
.tech-stack {
  background-color: var(--white);
  color: var(--black);
  padding: 5% 0;
}
.tech-stack > .tech-stack-right {
  width: 70%;
  padding: 4%;
  padding-right: 9%;
}
.tech-stack-main {
  font-size: 36px;
  margin-bottom: 26px;
}
.tech-stack h2 {
  font-weight: 600;
  margin-left: 10px;
}
.languages-tools {
  margin-top: 40px;
  color: var(--orange);
  width: 95%;
}
.plus {
  height: 30px;
  width: 30px;
}
.languages-tools > div {
  width: 40%;
}
.languages-tools > div > div {
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: baseline;
}
.languages-tools > div > div p:first-of-type {
  font-size: 20px;
  font-weight: 500;
}
.languages-tools > div > div p:last-child {
  font-size: 13px;
}
.tech-stack .greyish {
  font-size: 15px;
  line-height: 1.4;
  margin-top: 40px;
}
.language-icons > img,
.language-icons > svg {
  width: 70px;
  height: 70px;
  margin: 10px;
}
.tech-stack-left {
  width: 30%;
}
.figma {
  animation: spin var(--duration) ease infinite;
}
.js {
  animation: spin calc(var(--duration) + 2s) ease infinite;
}
.react {
  animation: spin calc(var(--duration) - 4s) ease infinite;
}
.github {
  animation: spin calc(var(--duration) - 2s) ease infinite;
}
.about-me-top > a {
  width: 25%;
  color: var(--white);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blink {
  0% {
    fill: var(--orange);
  }
  50% {
    fill: var(--white);
  }
  100% {
    fill: var(--orange);
  }
}

@media screen and (max-width: 1280px) {
  .about-me h1 {
    font-size: 48px;
    width: 40%;
  }
}
@media screen and (max-width: 840px) {
  .about-me-top {
    flex-direction: column;
    align-items: unset;
  }
  .about-me-top > a {
    width: 90%;
    margin: 50px 0;
  }
  .my-picture {
    flex-direction: column;
  }
  .me {
    width: 100%;
    object-fit: cover;
    height: 410px;
    margin-top: 40px;
  }
  .my-picture > p > br {
    display: none;
  }
  .my-description > div {
    flex-direction: column;
  }
  .bs-about-me {
    width: unset;
  }
  .arrange {
    margin-top: 20px;
  }
  .arrange br {
    display: none;
  }
  .tech-stack {
    flex-direction: column;
    text-align: center;
  }
  .tech-stack h2 {
    text-align: center;
  }
  .language-icons {
    flex-direction: row;
    margin: 40px 0;
  }
  .tech-stack-left {
    width: unset;
  }
  .tech-stack > .tech-stack-right {
    width: unset;
    padding: 4%;
  }
  .languages-tools {
    width: unset;
    margin: 40px 0;
  }
}

@media screen and (max-width: 540px) {
  .my-description {
    flex-direction: column;
    text-align: center;
  }
  .my-description > div {
    width: unset;
    padding: 0 4%;
  }
  .my-description h3 {
    margin-bottom: 20px;
  }
  .my-description > div > p {
    margin: 50px 0;
  }
  .language-icons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .languages-tools {
    flex-direction: column;
  }
  .languages-tools > div {
    width: 90%;
  }
  .plus {
    margin: 20px 0;
  }
}
