nav {
  padding: 1% 2% 3% 2%;
}
.the-name-of-the-god {
  font-family: var(--roboto);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.05em;
}
nav svg {
  width: 18px;
  height: 18px;
}
.nav-middle {
  width: 30%;
}
.nav-middle > * {
  list-style: none;
}
nav li:hover {
  color: var(--orange);
  cursor: pointer;
  transition: color var(--delay) ease-in;
}
.socials svg {
  cursor: pointer;
  margin-right: 15px;
}
.socials svg:hover path,
.socials svg:hover {
  fill: var(--orange);
  transition: fill var(--delay) ease-in-out;
}
.hamburger {
  display: none;
  height: 30px;
  width: 30px;
}
.small-screen {
  position: absolute;
  width: 97vw;
  height: 96vh;
  background-color: var(--bgMain);
}
.close {
  padding: 10px;
  background-color: var(--white);
  position: absolute;
  right: 10px;
  width: max-content;
  height: max-content;
}
.close > img {
  width: 30px;
  height: 30px;
}
.socials.small {
  display: unset;
}
.small-screen-links {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
}
.small-screen-links li {
  margin: 15px 0;
}
.small-screen-links > .socials {
  margin-top: 10px;
}
.small-screen-links > .socials svg {
  margin: 20px;
  --size: 30px;
  height: var(--size);
  width: var(--size);
}

@media screen and (max-width: 840px) {
  nav {
    padding: 3% 2%;
  }
  .hamburger {
    display: unset;
  }
  .socials,
  .nav-middle {
    display: none;
  }
}
