.link:hover > img {
  transform: translateX(10px) rotate(-90deg);
  transition: transform 300ms ease-in-out;
}
.link > img {
  transform: rotate(-90deg);
  height: 9px;
  margin-top: 5px;
  margin-right: 10px;
}

@media screen and (max-width: 650px) {
  .link {
    width: 90%;
  }
}
