footer {
  margin: 0 2%;
}
.companies {
  background-color: var(--black);
  flex-wrap: wrap;
}
.companies:not(:hover) path,
.companies:not(:hover) g {
  fill: var(--white);
  transition: fill 500ms ease-out;
}
.companies:hover path,
.companies:hover g {
  fill: var(--orange);
  transition: fill 500ms ease-out;
}
.companies svg {
  height: 50px;
  width: 200px;
}
.companies > div {
  width: 25%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uber {
  background-color: #0c151e;
}
.desktop-setup {
  height: 230px;
  width: 70%;
  object-fit: cover;
}
.footer-content {
  padding: 5% 0;
  border-bottom: 2px dotted var(--dotted);
}
.footer-content-right {
  width: 75%;
}
.footer-left h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer-left p {
  font-size: 13px;
  font-weight: 400;
}
.footer-content-right h2 {
  font-size: 4rem;
  margin: 40px 0;
}
.footer-content-right .bluish {
  font-size: 15px;
  width: 70%;
  margin-bottom: 60px;
}
.footer-content-right .link {
  width: 60%;
}
.footer-bottom {
  padding: 4% 0;
  font-size: 15px;
}
.footer-bottom svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.footer-bottom svg:hover g {
  fill: var(--orange);
}
.git {
  margin-left: 20px;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
}
.git:hover {
  color: var(--orange);
}
@media screen and (max-width: 840px) {
  .footer-content-right {
    flex-direction: column;
    width: 66%;
  }
  .desktop-setup {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-content-right {
    width: 100%;
  }
  .footer-content-right .link {
    width: 50%;
  }
  .desktop-setup {
    margin-top: 40px;
  }
  .companies > div {
    width: 50%;
  }
  .carlsberg {
    background-color: #0c151e;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    padding: 10% 0;
  }
  .footer-bottom > .flex {
    margin-top: 25px;
  }
  .footer-content-right .link {
    width: 90%;
  }
}
