@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Public+Sans:wght@400;500;600&family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
}
:root {
  --bgMain: rgb(5, 20, 34);
  --bluish: #b1b9c1;
  --orange: #ff5c00;
  --roboto: "Roboto", sans-serif;
  --white: #ffffff;
  --black: #081019;
  --delay: 100ms;
  --dotted: #213242;
  --duration: 8s;
  --spinSlowly: spin 20s linear infinite;
  --contact-option-border: #3e4e5d;
}
body {
  background-color: var(--bgMain);
  color: var(--white);
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
}
.flex-v {
  display: flex;
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.cursor {
  cursor: pointer;
}
.bluish {
  color: #b1b9c1;
}
.orange {
  color: #ff5c00;
}
.capitalize {
  text-transform: uppercase;
}
.align-center {
  align-items: center;
}
.align-flex-end {
  align-items: flex-end;
}
.show {
  outline: 1px solid red;
}
.designed-with-love {
  font-family: "Dancing Script", cursive;
  background-color: var(--white);
  width: max-content;
  color: #000;
  font-weight: 900;
  padding: 5px 10px 8px 10px;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 101;
}
.designed-with-love img {
  margin-left: 5px;
}
.center-absolutely {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.relative {
  position: relative;
}
.greyish {
  color: #536375;
}
.greyish-2 {
  color: #b1b9c1;
  font-size: 15px;
}
a {
  text-decoration: none;
}
.large-heading {
  font-size: 5rem;
}
.capitalize-first {
  text-transform: capitalize;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  border: 2px solid #ff5c00;
  border-radius: 20px;
}
